b {color:red;}
td, p, h2, th {text-align:center;
}
p{margin:0;}
<script >
function chk() {
    if (frm.id.value.trim().length < 4){
    alert('아이디는 4글자 이상 필수입력입니다');
    frm .id.focus();
    return false;
    }else if (!frm.pw.value) {
        alert('비밀번호를 입력하세요');
        frm .pw.focus();
        return false;
    }else if (frm.pw.value != frm.pwChk.value) {
        alert('비밀번호를 확인하세요');
        frm .pw.value = '';
        frm .pwChk.value = '';
        frm .pw.focus();
        return false;
}
return true;
}
</script >